header {
  color: rgb(196, 164, 164);
  font-size: 8em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(105, 106, 179);
}

#p1 {
 color:rgb(168, 216, 168);
 background-color: rgb(139, 0, 0);
 font-size: 14pt;
 text-align: left;
 padding-left: 70pt;
 font-family: sans-serif;
 padding-top: 32pt;
 padding-bottom: 40pt;
}
#p2 {
  color: rgb(82, 80, 80);
  background-color: rgb(1, 114, 114);
  padding-top: 15pt;
  padding-bottom: 2.2em;
  text-align: center;
}

#p3 {
  color:grey;
  background-color: rgb(46, 45, 45) ;
  text-align: left;
  padding: 1em;
}

footer {
  background-color: hotpink;
  color: aqua;
  text-align: center;
  padding: .6em;
}

img {
  opacity: 50%;
  padding: -50px;
  size: 1em;
}