
header {
  background-color: rgb(105, 106, 179);
  color: rgb(218, 164, 164);
  font-size: 7.65em;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: 2.8em;
  padding-right: 1.93em;
  text-align: center;
  opacity: 75%;
  writing-mode: vertical-lr;
}
p {
  width:37.6em;

}

#education {
  background-color: rgb(104, 101, 101);
  color: rgb(217, 223, 217);
  font-size: 14pt;
  font-family: sans-serif;
  margin-left: 15.5em;
  opacity: 85%;
  padding-top: 32pt;
  padding-bottom: 40pt;
  padding-right: 10em;
  text-align: right;
  width: 40em;

}
#p1 {
  background-color: rgb(163, 163, 163);
 color:rgb(227, 231, 227);
 font-size: 14pt;
 font-family: sans-serif;
 opacity: 85%;
 padding-top: 32pt;
 padding-bottom: 40pt;
 text-align: center;
}

#work-history {
  background-color: rgb(129, 207, 207);
  color: rgb(134, 43, 209);
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15.5em;
  opacity: 45%;
  padding-top: 24pt;
  padding-right: 10em;
  padding-bottom: 2.3em;
  text-align: right;
  width: 40em;
}
#p2 {
  background-color: rgb(1, 114, 114);
  color: rgb(227, 230, 81);
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 45%;
  padding-top: 24pt;
  padding-bottom: 2.3em;
  text-align: center;
}
#goals {
  background-color: rgb(41, 222, 228) ;
  color:rgb(190, 94, 94);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  margin-left: 15.5em;
  opacity: 45%;
  padding-bottom: 2em;
  padding-top: 2.5em;
  padding-right: 10em;
  text-align: center;
  text-align: right;
  width: 40em;

}

#p3 {
  background-color: rgb(233, 120, 45) ;
  color:rgb(228, 224, 224);
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 45%;
  padding-top: 2.5em;
  padding-bottom: 2em;
  text-align: center;
  
 
}
ol {
  background-color: rgb(104, 101, 101);
  color: rgb(217, 223, 217);
  font-size: 14pt;
  font-family: sans-serif;
  margin-left: 15.5em;
  opacity: 85%;
  padding-top: 32pt;
  padding-bottom: 40pt;
  padding-right: 10em;
  text-align: right;
  width: 40em;
}
/* @media only screen and (max-width: 767px){ */
#mt-rainier {
  background-color: aquamarine;
  background-size: cover;
  height: auto;
  opacity: 90%;
  width: auto;
  
}
footer {
  background-color: blue;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 0em;
  opacity: 45%;
  padding-left: 36em;
  padding-right: 0;
  writing-mode: vertical-lr;
}
